header {
	 background: #111; 
	width: 100%;
	/* height: 100px; */
}

.navbar-brand {
	 margin-right: 2em; 
	 color:#fff;
}

.widget {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.page-wrap {
	padding: 2rem 0;
}

header .top-bar {
	list-style-type: none;
	line-height: 30px;
	/* Enleve les puces*/
	margin: 0;
	padding: 0;
	display: flex;
	/* Met les elements sur une ligne*/
}

header .top-bar li a {
	padding: 0.25rem 1rem;
	text-decoration: none;
	/* Espacement entre les elements*/
	color: #fff; 
	 font-weight: 700;
	
}

header .top-bar li {

	position: relative;
}

header .container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

header .top-bar li:first-child a {
	padding-left: 0;
	/* Enleve le padding-left du premier element*/
}

header .top-bar li:last-child a {
	padding-right: 0;
	/* Enleve le padding-right du dernier element*/
}

header .top-bar li .sub-menu {
	display: none;
	position: absolute;
	z-index: 999;
	top: 100%;
	left: 0;
	background: #fff;
	box-shadow: 10px 1px 10px rgba(0, 0, 0, 0.1);
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 300px;
	border-radius: .5rem;
	-webkit-border-radius:;
	-moz-border-radius:;
	-ms-border-radius:;
	-o-border-radius:;
	transform: rotateY(45deg);
	border-top: 2px solid #0b4c06;
	border-bottom: 3px solid #0b4c06;
	-webkit-transform: rotateY(45deg);
	-moz-transform: rotateY(45deg);
	-ms-transform: rotateY(45deg);
	-o-transform: rotateY(45deg);
}


header .top-bar li .sub-menu a {
	color: red;
	padding: 0.25rem;
	text-align: center;
	display: block;
	text-decoration: none;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	white-space: nowrap;
}

header .top-bar li .sub-menu a:hover {

	color: black;

}

header .top-bar>.menu-item-has-children:hover>.sub-menu {
	display: block;
}

header .top-bar>.sub-menu>li>.menu-item-has-children:hover .sub-menu {
	display: block;
}

header .top-bar .sub-menu li .sub-menu {
	left: 100%;
	top: 0;
}

/*404*/

* {
	-webkit-box-sizing: border-box;
		box-sizing: border-box;
      }
      
      body {
	padding: 0;
	margin: 0;
      }
      
      #notfound {
	position: relative;
	height: 100vh;
      }
      
      #notfound .notfound {
		position: absolute;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
}
      
      .notfound {
	max-width: 520px;
	width: 100%;
	line-height: 1.4;
	text-align: center;
      }
      
      .notfound .notfound-404 {
	position: relative;
	height: 200px;
	margin: 0px auto 20px;
	z-index: -1;
      }
      
      .notfound .notfound-404 h1 {
		font-family: 'Montserrat', sans-serif;
		font-size: 236px;
		font-weight: 200;
		margin: 0px;
		color: #211b19;
		text-transform: uppercase;
		position: absolute;
		left: 50%;
		top: 50%;
		-webkit-transform:;
		-ms-transform:;
		transform: translate(-50%, -50%);
		-moz-transform:;
		-o-transform:;
}
      
      .notfound .notfound-404 h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 28px;
	font-weight: 400;
	text-transform: uppercase;
	color: #211b19;
	background: #fff;
	padding: 10px 5px;
	margin: auto;
	display: inline-block;
	position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;
      }
      
      .notfound a {
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	font-weight: 700;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	padding: 13px 23px;
	background: #ff6300;
	font-size: 18px;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
	-moz-transition: 0.2s all;
	-ms-transition: 0.2s all;
	-o-transition: 0.2s all;
}
      
      .notfound a:hover {
	color: #ff6300;
	background: #211b19;
      }
      
      @media only screen and (max-width: 767px) {
	.notfound .notfound-404 h1 {
	  font-size: 148px;
	}
      }
      
      @media only screen and (max-width: 480px) {
	.notfound .notfound-404 {
	  height: 148px;
	  margin: 0px auto 10px;
	}
	.notfound .notfound-404 h1 {
	  font-size: 86px;
	}
	.notfound .notfound-404 h2 {
	  font-size: 16px;
	}
	.notfound a {
	  padding: 7px 15px;
	  font-size: 14px;
	}
	  }
	  .bg {
		background: RGBA(12,29,44,1); 
		
	  }

	/*style footer */  

	.iconsocialgit  {
color:#fff;
	}
	  hr {
		width: 40px;
		height: 3px;
		background: #23354d;
		margin: 0 0 14px;
	  }
	  h6 {

			font-size: 18px;
			color: #fff;
			margin: 30px 0 15px;
		
	  }
	  
	.link a  {
		color: #c4ccd2;
		text-align: left;
		font-size: 16px;
		line-height: 2;
		text-decoration:none;
	  }

	  .link a :hover {
		color: #fff;
		
	  }
	  .link p {
		color: #c4ccd2;
		text-align: left;
		font-size: 16px;
		line-height: 2; 
	  }
	  .footer-copyright {
		  
		height: 60px;
		width: 100%;
		background-color: #16202e;
		color: #c4ccd2;
	  }
	  /*Bouton go to top */
	  #myBtn {
		position: fixed;
		bottom: 20px;
		right: 30px;
		z-index: 99;
		font-size: 18px;
		border: none;
		outline: none;
		background-color: #7f8c8d;
		color: black;
		cursor: pointer;
		padding: 10px;
		border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		-ms-border-radius: 4px;
		-o-border-radius: 4px;
}
	  .navbar-toggler-icon {
		display: block;
		width: 35px;
		height: 5px;
		background-color: white;
		margin: 6px 0;
	}

	.change .bar1 {
		-webkit-transform: rotate(-45deg) translate(-9px, 6px);
		transform: rotate(-45deg) translate(-9px, 6px);
	  }
	  
	  .change .bar2 {opacity: 0;}
	  
	  .change .bar3 {
		-webkit-transform: rotate(45deg) translate(-8px, -8px);
		transform: rotate(45deg) translate(-8px, -8px);
		-moz-transform: rotate(45deg) translate(-8px, -8px);
		-ms-transform: rotate(45deg) translate(-8px, -8px);
		-o-transform: rotate(45deg) translate(-8px, -8px);
}
	  