header {
	 background: #111; 
	width: 100%;
	/* height: 100px; */
}

.navbar-brand {
	 margin-right: 2em; 
	 color:#fff;
}

.my-navbar-color {
	background-color: #4e54c8;
}

.widget {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.page-wrap {
	padding: 2rem 0;
}

header .top-bar {
	list-style-type: none;
	line-height: 30px;
	/* Enleve les puces*/
	margin: 0;
	padding: 0;
	display: flex;
	/* Met les elements sur une ligne*/

}

header .top-bar li a {
	padding: 0.25rem 1rem;
	text-decoration: none;
	/* Espacement entre les elements*/
	color: #fff; 
	 font-size: 18px;
	
}
header .top-bar li a:hover {

	color: #111; 
	
	
}
header .top-bar li {

	position: relative;
}

header .container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

header .top-bar li:first-child a {
	padding-left: 0;
	/* Enleve le padding-left du premier element*/
}

header .top-bar li:last-child a {
	padding-right: 0;
	/* Enleve le padding-right du dernier element*/
}

header .top-bar li .sub-menu {
	display: none;
	position: absolute;
	z-index: 999;
	top: 100%;
	left: 0;
	background: #fff;
	box-shadow: 10px 1px 10px rgba(0, 0, 0, 0.1);
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 300px;
	border-radius: .5rem;
	-webkit-border-radius: .5rem;
	-moz-border-radius: .5rem;
	-ms-border-radius: .5rem;
	-o-border-radius: .5rem;
	transform: rotateY(45deg);
	border-top: 2px solid #0b4c06;
	border-bottom: 3px solid #0b4c06;
	-webkit-transform: rotateY(45deg);
	-moz-transform: rotateY(45deg);
	-ms-transform: rotateY(45deg);
	-o-transform: rotateY(45deg);
}


header .top-bar li .sub-menu a {
	color: red;
	padding: 0.25rem;
	text-align: center;
	display: block;
	text-decoration: none;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	white-space: nowrap;
}

header .top-bar li .sub-menu a:hover {

	color: black;

}

header .top-bar>.menu-item-has-children:hover>.sub-menu {
	display: block;
}

header .top-bar>.sub-menu>li>.menu-item-has-children:hover .sub-menu {
	display: block;
}

header .top-bar .sub-menu li .sub-menu {
	left: 100%;
	top: 0;
}

/*404*/

* {
	-webkit-box-sizing: border-box;
		box-sizing: border-box;
      }
      
      body {
	padding: 0;
	margin: 0;
	background: #f5f7f9;
    font-family: Camphor,Segoe UI,Open Sans,sans-serif;
	  }
	  
      
      #notfound {
	position: relative;
	height: 100vh;
      }
      
      #notfound .notfound {
		position: absolute;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
}
      
      .notfound {
	max-width: 520px;
	width: 100%;
	line-height: 1.4;
	text-align: center;
      }
      
      .notfound .notfound-404 {
	position: relative;
	height: 200px;
	margin: 0px auto 20px;
	z-index: -1;
      }
      
      .notfound .notfound-404 h1 {
		font-family: 'Montserrat', sans-serif;
		font-size: 236px;
		font-weight: 200;
		margin: 0px;
		color: #211b19;
		text-transform: uppercase;
		position: absolute;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
}
      
      .notfound .notfound-404 h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 28px;
	font-weight: 400;
	text-transform: uppercase;
	color: #211b19;
	background: #fff;
	padding: 10px 5px;
	margin: auto;
	display: inline-block;
	position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;
      }
      
      .notfound a {
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	font-weight: 700;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	padding: 13px 23px;
	background: #ff6300;
	font-size: 18px;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
	-moz-transition: 0.2s all;
	-ms-transition: 0.2s all;
	-o-transition: 0.2s all;
}
      
      .notfound a:hover {
	color: #ff6300;
	background: #211b19;
      }
      
      @media only screen and (max-width: 767px) {
	.notfound .notfound-404 h1 {
	  font-size: 148px;
	}
      }
      
      @media only screen and (max-width: 480px) {
	.notfound .notfound-404 {
	  height: 148px;
	  margin: 0px auto 10px;
	}
	.notfound .notfound-404 h1 {
	  font-size: 86px;
	}
	.notfound .notfound-404 h2 {
	  font-size: 16px;
	}
	.notfound a {
	  padding: 7px 15px;
	  font-size: 14px;
	}
	  }
	  .bg {
		/*background: RGBA(12,29,44,1); */
		/*background: #f5f7f9; */
		/*background:transparent;*/
		
   
		
	  }

	/*style footer */  

	.iconsocial {
color:#fff;
	}
	  hr {
		width: 40px;
		height: 3px;
		background: #23354d;
		margin: 0 0 14px;
	  }
	  h6 {

			font-size: 18px;
			color: #fff;
			margin: 30px 0 15px;
		
	  }
	  
	.link a  {
		color: #c4ccd2;
		text-align: left;
		font-size: 16px;
		line-height: 2;
		text-decoration:none;
	  }

	  .link a :hover {
		color: #fff;
		
	  }
	  .link p {
		color: #c4ccd2;
		text-align: left;
		font-size: 16px;
		line-height: 2; 
	  }
	  .footer-copyright {
		  
		height: 60px;
		width: 100%;
		background-color: #16202e;
		color: #c4ccd2;
	  }
	  /*Bouton go to top */
	  #myBtn {
		position: fixed;
		bottom: 20px;
		right: 30px;
		/*z-index: 99; */
		font-size: 18px;
		border: none;
		outline: none;
		background-color: orange;
		color: white;
		cursor: pointer;
		padding: 10px;
		border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		-ms-border-radius: 4px;
		-o-border-radius: 4px;
}
	  .navbar-toggler-icon {
		display: block;
		width: 35px;
		height: 5px;
		background-color: white;
		margin: 6px 0;
	}
	
	.change .bar1 {
		-webkit-transform: rotate(-45deg) translate(-9px, 6px);
		transform: rotate(-45deg) translate(-9px, 6px);
		-moz-transform: rotate(-45deg) translate(-9px, 6px);
		-ms-transform: rotate(-45deg) translate(-9px, 6px);
		-o-transform: rotate(-45deg) translate(-9px, 6px);
}
	  
	  .change .bar2 {opacity: 0;}
	  
	  .change .bar3 {
		-webkit-transform: rotate(45deg) translate(-8px, -8px);
		transform: rotate(45deg) translate(-8px, -8px);
		-moz-transform: rotate(45deg) translate(-8px, -8px);
		-ms-transform: rotate(45deg) translate(-8px, -8px);
		-o-transform: rotate(45deg) translate(-8px, -8px);
}
.search-box {
	display: flex;
	justify-content: center;
	align-items: center;

}
input {
	box-shadow: 10px 10px 4px rgba(0, 0, 0, .4);
	background: white;
	border: 2px solid orange;
	outline: none;
	width: 240px;
	height: 40px;
	border-radius: 15px 0 0 15px;
	font-size: 1.4em;
	font-weight: 300;
	padding: 0px 10px;
	font-family: font;
	letter-spacing: 2px;
	text-transform: normal;
	color: orange;
	-webkit-border-radius: 15px 0 0 15px;
	-moz-border-radius: 15px 0 0 15px;
	-ms-border-radius: 15px 0 0 15px;
	-o-border-radius: 15px 0 0 15px;
}
::placeholder {
	color: blue;
	font-size: 0.8em;
}
.search-btn {
	box-shadow: 10px 10px 4px rgba(0, 0, 0, .4);
	height: 40px;
	width: 55px;
	outline: none;
	border-radius: 0 15px 15px 0;
	background: orange;
	color: white;
	border: none;
	transition: ease;
	-webkit-border-radius: 0 15px 15px 0;
	-moz-border-radius: 0 15px 15px 0;
	-ms-border-radius: 0 15px 15px 0;
	-o-border-radius: 0 15px 15px 0;
	-webkit-transition: ease;
	-moz-transition: ease;
	-ms-transition: ease;
	-o-transition: ease;
}
.search-btn:hover {
	transition: ease;
	-webkit-transition: ease;
	-moz-transition: ease;
	-ms-transition: ease;
	-o-transition: ease;
}
.search-btn:hover i {
	font-size: 2.5em;
}
.search-btn i {
	font-size: 2em;
}

/* Header image wordpress */
/* header {
	background: url("../images/header.jpg") 
	no-repeat  top center;
	margin: 0;
	height:1087px;
	width: 100%;
} */
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}